body{
    box-sizing: border-box;
    background-color:white;
  }
.heading{
    color: orange !important;
}
#bootstrap-overrides .navbar-brand {
    font-size: 40px;
    color: white;
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.container{
    float: left;
    max-width: 100%;
}
#bootstrap-overrides .form-inline{
    justify-content: left;
}
.form-inline {
    margin-top: 10px;
    
}
.dropdown-menu {
  
    padding:10px;
    margin:10px;
    border: 1px blue;

}
.card-9{
    
    margin : 10px;
    height:400px;
    width :1000px;
}
.forecast{
    float:left;
}
#city{
    font-size: 35px !important;
    color:black;
    font-weight: bold;

}
button{
    border:none;
}
.cityBtn{
    display: inline-block;
}
#uvIndexStyle{
    background-color: lightgreen;
}
.card{
 max-width: 12rem; 
max-height:12rem;
color:white;
background-color:orange;
border: 1px solid #f8f9fa;
}
.card-header{
    border: 1px solid white;
}
#uvIndexStyle{
    border:1px;
}
 #uvIndexStyle ,#uvIndex{
    display: inline;
}
#wicon{
    font-size: 10px;
}